In [31]:
import pandas as pd
import re

In [32]:
# Read csv file
df = pd.read_csv(r'sensors_dataset.csv',delimiter=';')

# Take a look at the first few rows
df.head(10)

  part_id   ts_date   ts_time     room
0    3089  20170915  06:45:22  Kitchen
1    3089  20170915  06:45:33  Bedroom
2    3089  20170915  06:45:39  Outdoor
3    3089  20170915  06:45:53  Bedroom
4    3089  20170915  06:46:09  Outdoor
5    3089  20170915  06:46:23  Bedroom
6    3089  20170915  06:46:39  Outdoor
7    3089  20170915  06:46:53  Bedroom
8    3089  20170915  06:47:09  Outdoor
9    3089  20170915  06:47:23  Bedroom

## **Clean and Standardize the 'room' values**

In [33]:
#df['room'] = df['room'].apply(lambda x: re.sub(r'^Liv\w*', 'Livingroom', x))
df['room'] = df['room'].replace(['Leavingroom', 'Livingroom1', 'Livroom', 'Livingroom2',
                                 'LivingRoom', 'Luvingroom1', 'LeavingRoom', 'LuvingRoom',
                                 'LivingRoom2', 'LivibgRoom', 'Leavivinroom', 'Liningroom',
                                 'Livingroon', 'livingroomm', 'Living', 'livingroom'
                                ], 'Livingroom')

df['room'] = df['room'].replace(['Kitchen2', 'Kiychen', 'Kichen', 'Kitch',
                                 'kitchen', 'Kitcen', 'Kithen', 'Kitcheb',
                                 'Kitvhen', 'K'
                                ], 'Kitchen')

df['room'] = df['room'].replace(['Barhroom', 'Bsthroom', 'Baghroom', 'Bqthroom',
                                 'Bathroom-1', 'Bathroom1', 'Bathroim', 'Bathroon'
                                ], 'Bathroom')

df['room'] = df['room'].replace(['bedroom', 'Bedroom2', 'Bedroom1', 'Bedroom1st',
                                 'Bedroom-1',
                                ], 'Bedroom')

df['room'] = df['room'].replace(['Laundry', 'Washroom', 'LaundryRoom'
                                ], 'Laundryroom')

df['room'] = df['room'].replace(['DinerRoom', 'DiningRoom', 'DinningRoom', 'DinnerRoom',
                                 'Dinerroom',
                                ], 'Diningroom')

df['room'] = df['room'].replace(['Office1', 'Office2', 'Office1st', 'Office-2',
                                ], 'Office')

df['room'] = df['room'].replace(['SittingOver', 'SittingRoom', 'SeatingRoom', 'Sitingroom',
                                 'Sittinroom', 'Sittigroom'
                                ], 'Sittingroom')

In [34]:
# Check unique values in the 'room' column
print(df['room'].unique())

['Kitchen' 'Bedroom' 'Outdoor' 'Bathroom' 'TV' 'Livingroom' 'Entry'
 'Right' 'Left' 'Entrance' 'Bed' 'Hall' 'Sittingroom' 'Desk' 'Two' 'Three'
 'One' 'Office' 'Garage' 'Diningroom' 'Laundryroom' '2ndRoom' 'ExitHall'
 'Four' 'three' 'T' 'Box' 'Guard' 'Storage' 'Workroom' 'Pantry' nan
 'Garden' 'Library' 'Veranda' 'Box-1' 'Chambre']

In [27]:
# Create a mapping of the incorrect room names to the correct room name
'''
room_mapping = {
    'Leavingroom': 'Livingroom',
    'Livingroom1': 'Livingroom',
    'Livroom': 'Livingroom',
    'Livingroom2': 'Livingroom',
    'LivingRoom': 'Livingroom',
    'Luvingroom1': 'Livingroom',
    'LeavingRoom': 'Livingroom',
    'LuvingRoom': 'Livingroom',
    'LivingRoom2': 'Livingroom',
    'LivibgRoom': 'Livingroom',
    'Leavivinroom': 'Livingroom',
    'Liningroom': 'Livingroom',
    'Livingroon': 'Livingroom',
    'livingroom': 'Livingroom',
    'Kitchen2': 'Kitchen',
    'Kiychen': 'Kitchen',
    'Kichen': 'Kitchen',
    'Kitch': 'Kitchen',
    'kitchen': 'Kitchen',
    'Kitcen': 'Kitchen',
    'Kithen': 'Kitchen',
    'Kitcheb': 'Kitchen',
    'Kitvhen': 'Kitchen',
    'K': 'Kitchen',
    'T': 'TV',
    'Barhroom': 'Bathroom',
    'Bsthroom': 'Bathroom',
    'Baghroom': 'Bathroom',
    'Bqthroom': 'Bathroom',
    'Bathroom-1': 'Bathroom',
    'Bathroom1': 'Bathroom',
    'Bathroim': 'Bathroom',
    'bedroom': 'Bedroom',
    'Bedroom2': 'Bedroom',
    'Bedroom1': 'Bedroom',
    'Bedroom1st': 'Bedroom',
    'Bedroom-1': 'Bedroom',
    'Laundry': 'Laundryroom',
    'Laundryroom': 'Laundryroom',
    'Washroom': 'Laundryroom',
    'DinerRoom': 'Diningroom',
    'DiningRoom': 'Diningroom',
    'DinningRoom': 'Diningroom',
    'DinnerRoom': 'Diningroom',
    'Dinerroom': 'Diningroom',
    'Office1': 'Office',
    'Office2': 'Office',
    'Office1st': 'Office',
    'Office-2': 'Office',
    'Entrance': 'Entry',
    'Box-1': 'Box',
    'Sittinroom': 'SittingOver',
    'Sittinroom': 'Sittigroom',
    'Sittigroom': 'Sittingroom',
    'SittingOver': 'Sittingroom',
    'SittingRoom': 'Sittingroom',
    'SeatingRoom': 'Sittingroom',
    'Sitingroom': 'Sittingroom'
}

# Apply the mapping to the 'room' column
df['room'] = df['room'].replace(room_mapping)
'''

"\nroom_mapping = {\n    'Leavingroom': 'Livingroom',\n    'Livingroom1': 'Livingroom',\n    'Livroom': 'Livingroom',\n    'Livingroom2': 'Livingroom',\n    'LivingRoom': 'Livingroom',\n    'Luvingroom1': 'Livingroom',\n    'LeavingRoom': 'Livingroom',\n    'LuvingRoom': 'Livingroom',\n    'LivingRoom2': 'Livingroom',\n    'LivibgRoom': 'Livingroom',\n    'Leavivinroom': 'Livingroom',\n    'Liningroom': 'Livingroom',\n    'Livingroon': 'Livingroom',\n    'livingroom': 'Livingroom',\n    'Kitchen2': 'Kitchen',\n    'Kiychen': 'Kitchen',\n    'Kichen': 'Kitchen',\n    'Kitch': 'Kitchen',\n    'kitchen': 'Kitchen',\n    'Kitcen': 'Kitchen',\n    'Kithen': 'Kitchen',\n    'Kitcheb': 'Kitchen',\n    'Kitvhen': 'Kitchen',\n    'K': 'Kitchen',\n    'T': 'TV',\n    'Barhroom': 'Bathroom',\n    'Bsthroom': 'Bathroom',\n    'Baghroom': 'Bathroom',\n    'Bqthroom': 'Bathroom',\n    'Bathroom-1': 'Bathroom',\n    'Bathroom1': 'Bathroom',\n    'Bathroim': 'Bathroom',\n    'bedroom': 'Bedroom',\n    'Bedroom2': 'Bedroom',\n    'Bedroom1': 'Bedroom',\n    'Bedroom1st': 'Bedroom',\n    'Bedroom-1': 'Bedroom',\n    'Laundry': 'Laundryroom',\n    'Laundryroom': 'Laundryroom',\n    'Washroom': 'Laundryroom',\n    'DinerRoom': 'Diningroom',\n    'DiningRoom': 'Diningroom',\n    'DinningRoom': 'Diningroom',\n    'DinnerRoom': 'Diningroom',\n    'Dinerroom': 'Diningroom',\n    'Office1': 'Office',\n    'Office2': 'Office',\n    'Office1st': 'Office',\n    'Office-2': 'Office',\n    'Entrance': 'Entry',\n    'Box-1': 'Box',\n    'Sittinroom': 'SittingOver',\n    'Sittinroom': 'Sittigroom',\n    'Sittigroom': 'Sittingroom',\n    'SittingOver': 'Sittingroom',\n    'SittingRoom': 'Sittingroom',\n    'SeatingRoom': 'Sittingroom',\n    'Sitingroom': 'Sittingroom'\n}\n\n# Apply the mapping to the 'room' column\ndf['room'] = df['room'].replace(room_mapping)\n"

## **Check for any remaining inconsistencies and correct them manually if needed**

In [35]:
# Count the number of NaN values in 'room' column
nan_count = df['room'].isnull().sum()
print("Number of NaN values in 'room' column:", nan_count)

Number of NaN values in 'room' column: 20

In [36]:
# Replace NaN values with a specified value
specified_value = 'Unknown'
df['room'] = df['room'].fillna(specified_value)

In [37]:
# Check unique values in the 'room' column
print(df['room'].unique())

['Kitchen' 'Bedroom' 'Outdoor' 'Bathroom' 'TV' 'Livingroom' 'Entry'
 'Right' 'Left' 'Entrance' 'Bed' 'Hall' 'Sittingroom' 'Desk' 'Two' 'Three'
 'One' 'Office' 'Garage' 'Diningroom' 'Laundryroom' '2ndRoom' 'ExitHall'
 'Four' 'three' 'T' 'Box' 'Guard' 'Storage' 'Workroom' 'Pantry' 'Unknown'
 'Garden' 'Library' 'Veranda' 'Box-1' 'Chambre']

In [38]:
# Check the unique values in the 'part_id' column to verify that only 4-digit numbers remain
print(df['part_id'].unique())

['3089' 'New' 'Newp' 'Test' '1035' 'Thom' '2113' '1003' '2108' '2100'
 '2094' '2109' '2101' '3106' '3112' '2081' '3601' '3087' '2116' '2615'
 '2082' '2092' 'Iti_' 'newt' 'newf' '123.' '12_3' 'Tria' '3104' 'tria'
 '3120' 'new' '2086' '2087' '2091' '2085' '1526' '2105' '2110' '2103'
 '2111' '3099' '2106' '2088' '3102' '2118' '2107' '3081' '3113' '2097'
 '3098' '3594' '2093' '3118' '3091' 'cert' '3084' '3105' '2183' '2102'
 '3103' '1094' '1191' '2117' '2114' '1088' '2112' '3086' '3107' '2090'
 '3082' '2104' '2584' '3090' '2096' '2099' 'Newt' '1234' '1001' '2098'
 '124' '2089' '3119' '3117' '1515' '1111' '3097' '3611' '3114' '2095'
 '1509' '3115' '3116' '2083' '3600' '3109' '1090' '1117' '1086' '3085'
 '2119' '1091' '1092' '3095' '3096' '2017' 'test' '1112' '2006' '2503'
 '2005' '2027' '2502' '2511' '2014' '3593' '2507' '3592' '1119' '1120'
 '1089' '1507' '1101' '2069' 'Cert' '1113' '1085' '1104' '1084' '2029'
 '3110' '2510' '2013' '2021' '3108' '2035' '1110' '1109' '1115' '2039'
 '2042' '2037' '2012' '1103' '2044' '2016' '2043' '2515' '2518' 'Agla'
 '2020' '3012' '3571' '2036' '2053' '2051' '2038' '2055' '3002' '2025'
 '2024' '2056' '2077' '3009' '2026' '3517' '3053' '2071' '2070' '3028'
 '2032' '2072' '3014' '2073' '3032' '2022' '3545' '3005' '2048' '2067'
 '2040' '3007' '3020' '3021' '3043' '2033' '2030' '2049' '2050' '2079'
 '2058' '1006' '1007' '2047' '2054' '2060' '2068' '2063' '1022' '1023'
 '1051' '2064' '3029' '3026' '3055' '1518' '1508' '1055' '3011' '3010'
 '3559' '3546' '3001' '3038' '3031' '3527' '1044' '1038' '1039' '3004'
 '3052' '3051' '3060' '1040' '1041' '3039' '3030' '1036' '1005' '3006'
 '1043' '3016' '3058' '1049' '1514' '3033' '1525' '1510' '3037' '1057'
 '3067' '1061' '1066' '3057' '3008' '1030' '3019' '3064' '1054' '3061'
 '3054' '3068' '3041' '1068' '3048' '3072' '3073' '3062' '3044' '3079'
 '3515' '3077' '3040' '3070' '3549' '3066' '1548' '1529' '1558' '1095'
 '3065' '3524' '3578' '3034' '2121' '2124' '2122' '3083' '2128' '2126'
 '1123' '1128' '3127' '1124' '1126' '3129' '2132' '3141' '3142' '2133'
 '2142' '3134' '1131' '3131' '2131' '2125' '2141' '3133' '3135' '3132'
 '2136' '2134' '2135' '3140' '3139' '2137' '2139' '2140' '2138']

In [39]:
# Filter out rows where 'part_id' is not a 4-digit number
df = df[df['part_id'].str.match(r'^\d{4}$')]
df['part_id'].nunique()

291

In [40]:
# Check the unique values in the 'part_id' column to verify that only 4-digit numbers remain
print(df['part_id'].unique())

['3089' '1035' '2113' '1003' '2108' '2100' '2094' '2109' '2101' '3106'
 '3112' '2081' '3601' '3087' '2116' '2615' '2082' '2092' '3104' '3120'
 '2086' '2087' '2091' '2085' '1526' '2105' '2110' '2103' '2111' '3099'
 '2106' '2088' '3102' '2118' '2107' '3081' '3113' '2097' '3098' '3594'
 '2093' '3118' '3091' '3084' '3105' '2183' '2102' '3103' '1094' '1191'
 '2117' '2114' '1088' '2112' '3086' '3107' '2090' '3082' '2104' '2584'
 '3090' '2096' '2099' '1234' '1001' '2098' '2089' '3119' '3117' '1515'
 '1111' '3097' '3611' '3114' '2095' '1509' '3115' '3116' '2083' '3600'
 '3109' '1090' '1117' '1086' '3085' '2119' '1091' '1092' '3095' '3096'
 '2017' '1112' '2006' '2503' '2005' '2027' '2502' '2511' '2014' '3593'
 '2507' '3592' '1119' '1120' '1089' '1507' '1101' '2069' '1113' '1085'
 '1104' '1084' '2029' '3110' '2510' '2013' '2021' '3108' '2035' '1110'
 '1109' '1115' '2039' '2042' '2037' '2012' '1103' '2044' '2016' '2043'
 '2515' '2518' '2020' '3012' '3571' '2036' '2053' '2051' '2038' '2055'
 '3002' '2025' '2024' '2056' '2077' '3009' '2026' '3517' '3053' '2071'
 '2070' '3028' '2032' '2072' '3014' '2073' '3032' '2022' '3545' '3005'
 '2048' '2067' '2040' '3007' '3020' '3021' '3043' '2033' '2030' '2049'
 '2050' '2079' '2058' '1006' '1007' '2047' '2054' '2060' '2068' '2063'
 '1022' '1023' '1051' '2064' '3029' '3026' '3055' '1518' '1508' '1055'
 '3011' '3010' '3559' '3546' '3001' '3038' '3031' '3527' '1044' '1038'
 '1039' '3004' '3052' '3051' '3060' '1040' '1041' '3039' '3030' '1036'
 '1005' '3006' '1043' '3016' '3058' '1049' '1514' '3033' '1525' '1510'
 '3037' '1057' '3067' '1061' '1066' '3057' '3008' '1030' '3019' '3064'
 '1054' '3061' '3054' '3068' '3041' '1068' '3048' '3072' '3073' '3062'
 '3044' '3079' '3515' '3077' '3040' '3070' '3549' '3066' '1548' '1529'
 '1558' '1095' '3065' '3524' '3578' '3034' '2121' '2124' '2122' '3083'
 '2128' '2126' '1123' '1128' '3127' '1124' '1126' '3129' '2132' '3141'
 '3142' '2133' '2142' '3134' '1131' '3131' '2131' '2125' '2141' '3133'
 '3135' '3132' '2136' '2134' '2135' '3140' '3139' '2137' '2139' '2140'
 '2138']

In [41]:
# Check for non-standard values in the ts_date field
non_standard_values = []
for date in df['ts_date']:
    if not re.match(r'^\d{8}$', str(date)):
        non_standard_values.append(date)

# Display the list of non-standard values
print("Non-standard values in ts_date:")
for value in non_standard_values:
    print(value)

# Count the occurrences of non-standard values
value_counts = pd.Series(non_standard_values).value_counts()

# Display the non-standard values
print("Non-standard values in ts_date:")
for value in non_standard_values:
    print(value)

# Remove the non-standard values from the ts_date field
df = df[~df['ts_date'].isin(non_standard_values)]

# Print the count of non-standard values and the updated DataFrame
print("ts_date: Count of non-standard values:", len(non_standard_values))
print("ts_date: Non-standard value counts:\n", value_counts)

Non-standard values in ts_date:
Non-standard values in ts_date:
ts_date: Count of non-standard values: 0
ts_date: Non-standard value counts:
 Series([], dtype: int64)

C:\Users\Elham\AppData\Local\Temp\ipykernel_9128\2284378573.py:13: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  value_counts = pd.Series(non_standard_values).value_counts()

In [43]:
#Check for non-standard values in the ts_time field
non_standard_values = []
for time in df['ts_time']:
    if not re.match(r'^\d{2}:\d{2}:\d{2}$', str(time)):
        non_standard_values.append(time)

# Print the count of non-standard values and the updated DataFrame
print("\nts_time: Count of non-standard values:", len(non_standard_values))

# Display the list of non-standard values
print("ts_time: Non-standard values in ts_time:")
for value in non_standard_values:
    print(value)

# Count the occurrences of non-standard values
value_counts = pd.Series(non_standard_values).value_counts()

# Remove the non-standard values from the ts_time field
df = df[~df['ts_time'].isin(non_standard_values)]

value_counts = pd.Series(non_standard_values).value_counts()
print("non_standard_values:", non_standard_values)

ts_time: Count of non-standard values: 0
ts_time: Non-standard values in ts_time:
non_standard_values: []

C:\Users\Elham\AppData\Local\Temp\ipykernel_9128\2746582218.py:16: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  value_counts = pd.Series(non_standard_values).value_counts()
C:\Users\Elham\AppData\Local\Temp\ipykernel_9128\2746582218.py:21: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  value_counts = pd.Series(non_standard_values).value_counts()

## **Save the corrected dataset**

In [44]:
# Save the corrected dataset
df.to_csv('sensors_dataset_corrected.csv', index=False)
#df.to_csv('/content/drive/My Drive/Colab Notebooks/AI_In_Health/mariarevythi/sensors_dataset_corrected.csv', index=False)